body {
	background-color: white;
  font-family: 'Gentium Book Basic', serif;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

#messages {
	color: rgba(210,54,65,0.8);
}

.navbar-header, .container-fluid {
	width: 100%;
}


.inline {
	display: inline-block;
}

@media only screen and (min-width: 1204px) {
    .logout {
		position: relative;
		transform:translateX(50vw);
		padding-right: 5vw;
		margin-right: 5vw;
	}
}

#right {
	position: relative;
}	

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-danger {
    background: rgb(32, 196, 146);
    color: white;
}
 
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    background: #C1EDC9;
}

.btn-primary:active, .btn-primary.active {
    background: #C1EDC9;
    box-shadow: none;
}

h1, h2, h3, h4, h5 {
	font-family:'Vollkorn', serif;
}

.card {

}

/* ---- grid ---- */

.grid {
  background: white;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 140px;
  float: left;
  background: white;
  border: 1.2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 240px; }
.grid-item--width3 { width: 290px; }
.grid-item--width4 { width: 350px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

/*#rgb(165,168,149) quick silver
#rgb(221,216,196) Bone
#rgb(138,196,146) Dark sea green
#rgb(193,237,201) Tea green
#rgb(218,229,213) Gainsboro*/