<h1>Recipe Page</h1>
<p>Welcome, <%= user.first_name %> to the recipe page!</p>

<div class="grid top1">
  <div class="food1">
    <% for(var i = 0; i < recipes.length; i++ ) { %>
      <div class="grid-item">
        <img class="img" src="<%=recipes[i].url %>">
        <a class="float" href="/<%= recipes[i].id %>">See Recipe</a>
      </div>
    <% } %>
  </div>
</div>